<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>reservas</param-name>
        <param-value>reservas@restaurante.com</param-value>
    </context-param> 
    <context-param>
        <param-name>despedida</param-name>
        <param-value>... y no se preocupe... se lo incluiremos en su factura...</param-value>
    </context-param>    
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>control.Menu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Peticion</servlet-name>
        <servlet-class>control.Peticion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Peticion</servlet-name>
        <url-pattern>/Peticion</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>restaurante.html</welcome-file>
    </welcome-file-list>
</web-app>
