<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- configuracion bbdd -->
<hibernate-configuration>
	<session-factory>
		<!-- Datasource de la Base de Datos -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/tablas_de_prueba</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Propiedades adicionales -->		
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		
		<!-- Archivos Mapping -->
		<mapping class="com.ejemplos.hibernate.model.Persona" />
	</session-factory>
</hibernate-configuration>