<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Configuración de conexión a la Base de Datos -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/tablas_de_prueba</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		
		<!-- Propiedades adicionales -->			
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property>
		<property name="connection.pool_size">1</property>		
				
		<!-- Cada vez que la sessionFactory se cree la BBDD será actualizada -->
		<!--  Si se hubiera indicado   create    cada vez que corriera la aplicacion los datos se crearían de nuevo (y se machacarian -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!--  the hibernate.current_session_context_class is set to thread, meaning that the SessionFactory will bind the Session 
		      to the thread from which openSession() method is called -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Archivos Mapping -->	
		<mapping class="com.ejemplos.hibernate.model.Book" />
	</session-factory>
</hibernate-configuration>
